body {
  margin: 0;
  background-color: #fff;
}
.app {
  padding: 13px 9px 0;
}
@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.hide {
  display: none;
}
.visible {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
}
.unVisible {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
}
.grid-item {
  animation: delayedFadeIn 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}

#gridWrapper .users {
  position: absolute;
  background-image: url("./assets/dummy.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition-property: top, left, right, bottom, width, height, background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}
